
.dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    cursor: pointer;
    /* height: 130px; */
    /* width: 550px; */
    border: 2px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
  }
  .dropzoneReject {
    border: 2px dashed red;
  }
  .dropzoneAccept {
    border: 2px dashed green;
  }
  .file {
    margin-top: 30px;
    font-size: 1.05em;
    font-weight: 600;
    margin: 1em 0em 2em;
    grid-column: 1 / 3;
  }